@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px; /* general fontsize */
}

ul li {
    display: inline-block;
    margin-left: 65px;
    font-size: 20px;
}

header {
    padding: 71px 0 95px 0;
    white-space: nowrap;

}

#list1 li a {
    color: #bab8b8;
}

#travelh1 {
    font-size: 75px;
    letter-spacing: 3px;
    line-height: 80px;
    color: #091e40;
    font-weight: 800;
    text-align: left;
    padding-bottom: 77px;
    margin: 0;
}

#h1Amazing {
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 62px;
    color: #091e40;
    font-weight: 600;
    text-align: left;
}


#travelh1 + p {
    padding-bottom: 100px;
    margin: 0;
}

#list1 li a:hover {
    color: #3984f3;
    text-decoration: none;

}

#logo {
    height: 50px;
    width: 178px;

}

.button {
    background-color: #3984f3;
    border-color: #3984f3;
    border-style: solid;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    color: #3984f3;
}

#signInButton {
    border-width: 3px;
    width: 151px;
    height: 55px;
    background-color: #fff;
    border-color: #3984f3;
    border-style: solid;
    color: #3984f3;
}

#signInButton:hover {
    background-color:  #3984f3;
    color: #fff;
}

html, body {
    background-repeat: no-repeat;
    background-size: cover;
}

#signUpNowButton, #exproleButton {
    border-width: 2px;
    height: 3.5625rem;
    width: 12.625rem;
    font-size: 20px;
}

p {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 35px;
    color: #81858e;
    font-weight: 400;
    margin-bottom: 63px;
}

#section1 {
    position: relative;
    bottom: 57px;
}

.active a {
    color: #3984f3 !important;
}

#paddingSection {
    padding-bottom: 155px;
}

#amazing-places-text {
    padding: 0 100px;
   
}

/* .glide, .glide--ltr, .glide--carousel, .glide--swipeable{
    font-family: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") !important;
    font-family: FontAwesome !important;
} */

.glide__slide {
    height: 520px;
    width: 375px;
    margin: 75px;
    margin-left: 18px;
    position: relative; 
   
    
}


#imgResize1 {
    width: 100%;
    height: 100%;
    background: url("../images/img-01.png") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
   
}

#imgResize2{
    width: 100%;
    height: 100%;
    background: url("../images/img-02.png") no-repeat center;
    background-size: cover; 
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
   
}

#imgResize3{
    width: 100%;
    height: 100%;
    background: url("../images/img-03.png") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
   
}

/* makes the image move */
.glide__slide:hover, .swiper-slide:hover {
    -webkit-animation: floatBubble 1s forwards;
    -webkit-animation-direction: alternate-reverse;
    
  }

  .glide__slide:hover > div.stars, .glide__slide:hover > div.stars + p{
    display: inline-block;
}

/* image animation needs position relative at  glide*/
@-webkit-keyframes floatBubble{ 
    from{
           bottom:75px;
           -webkit-animation-timing-function: ease-in;
      }

      to {
         bottom: 0;
         -webkit-animation-timing-function: ease-out;
      }
}


.moneyTag {
    width: 110px;
    height: 43px;
    background-color: #3984f3;
    position: absolute;
    bottom: 430px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    
    
}

.vacationName {
    position: absolute;
    bottom: 32px;
    left: 25px;
    font-size: 23px;
   color: #ffffff;

}


div.stars + p{
    float: right;
    font-size: 26px;
    right: 25px;
    position: relative;
    top: 10px;
}

div.stars, div.stars + p{
    display: none;
    /* it is displayed above at .glide__slide:hover > div.stars */

}


input.star{
    display: none;
}

label.star{
    float: left;
    padding: 5px;
    font-size: 30px;
    color: #3984f3;
    transition: all 0.25s;
    
}

input.star:checked ~ label.star:before{
    content: "\f005";
    color: #3984f3;
    transition: all 0.25s;
    font-family: FontAwesome !important;
}

input.star-1:checked ~ label.star:before, input.star-6:checked ~ label.star:before,input.star-11:checked ~ label.star:before
{ 
    color: #F62; 
}
input.star-5:checked ~ label.star:before, input.star-10:checked ~ label.star:before, input.star-15:checked ~ label.star:before{
    color: #1abc9c;
    text-shadow: 0 0 15px #1abc9c;
    
    }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before{
    content: "\f006";
    font-family: FontAwesome !important;
    }
    

#paddingSection2{
    padding-bottom: 250px;
}


.h1Traveler{
    font-size: 50px;
letter-spacing: 1px;
line-height: 62px;
color: #091e40;
font-weight: 600;
text-align: center;
}

.pTraveler{ 
text-align: center;
font-size: 22px;
letter-spacing: 0px;
line-height: 42px;
color: #81858e;
padding: 80px 20% 0 20%;
}

#blueBox1{
    margin-top: 40px;
    width: 78px;
    height: 6px;
    background-color: #3984f3;
    margin-bottom: 60px;
    }

.blueBox2{
    width: 78px;
height: 6px;
background-color: #3984f3;
position: relative;
left: 48%;
margin-top: 40px;
}

.swiper-slide{
    width: 472px !important;
    height: 500px !important;
    margin-left: 18px;
    position: relative; 
    margin-top: 75px;
    margin-bottom: 95px;
}

#imgResize4 {
    width: 100%;
    height: 100%;
    background: url("../images/img-04.png") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
}
#imgResize5 {
    width: 100%;
    height: 100%;
    background: url("../images/img-05.png") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
}
#imgResize6 {
    width: 100%;
    height: 100%;
    background: url("../images/img-06.png") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
}
#imgResize7 {
    width: 100%;
    height: 100%;
    background: url("../images/img-07.png") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
}
#imgResize8 {
    width: 100%;
    height: 100%;
    background: url("../images/img-08.png") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -200px 100px 0 rgba(0, 0, 0, 0.6);
}


.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

#buttonNext{
      position: relative;
      color: #3984f3 !important;
      top: 22px !important;
      left: 54%;
  }
#buttonPrev{
    position: relative;
    color: #3984f3 !important;
    left: 44%;
}

#paddingSection3{
    margin-bottom: 210px;
}

#buttonPrev:hover, #buttonNext:hover {
    color: #fff !important;
    background-color: #3984f3 !important;
}

#imgContainer{
    clip-path: circle(74px at 104px 79px);
    margin-left: 45%;
    margin-top: 110px;
}


#imgResize9 {
    
    height: 240px;
    position: relative;
    right: 75px;

}

#h1Name {
    font-size: 24px;
    line-height: 45px;
    color: #2b323a;
    font-weight: 700;
    position: relative;
    text-align: center;
    bottom: 50px;
}

#h2Traveler {
font-size: 20px;
line-height: 45px;
color: #2b323a;
position: relative;
bottom: 50px;
text-align: center;
}

#paddingSection4{
    padding-bottom: 105px;
}
#paddingSection5{
    padding-bottom: 175px;
}


#weatherContainer{
   
    -webkit-clip-path: inset(30px 10px 30px 10px);
  clip-path: inset(100px 10px 300px 10px);
}