@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800&display=swap');


* {
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 16px; /* general fontsize */
}

ul li {
    display: inline-block;
    margin-left: 65px;
    font-size: 20px;
}

header {
    padding: 71px 0 95px 0;
    white-space: nowrap;

}

#list1 li a {
    color: #bab8b8;
}

.travelh1 {
    font-size: 75px;
    letter-spacing: 3px;
    line-height: 80px;
    color: #091e40;
    font-weight: 800;
    text-align: left;
    padding-bottom: 77px;
    margin: 0;
}

#h1Amazing {
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 62px;
    color: #091e40;
    font-weight: 600;
    text-align: left;
}


.travelh1 + p {
    padding-bottom: 100px;
    margin: 0;
}

#list1 li a:hover {
    color: #3984f3;
    text-decoration: none;

}

#logo {
    height: 50px;
    width: 178px;

}

.button {
    background-color: #3984f3;
    border-color: #3984f3;
    border-style: solid;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    color: #3984f3;
}

#signInButton {
    border-width: 3px;
    width: 151px;
    height: 55px;
}


html, body {
    background-repeat: no-repeat;
    background-size: cover;
}

#signUpNowButton, #exproleButton {
    border-width: 2px;
    height: 3.5625rem;
    width: 12.625rem;
    font-size: 20px;
}

p {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 35px;
    color: #81858e;
    font-weight: 400;
}

#section1 {
    position: relative;
    bottom: 57px;
}

.active a {
    color: #3984f3 !important;
}

#paddingSection {
    padding-bottom: 155px;
}

#amazing-places-text {
    padding: 0 100px;
}


.glide__slide {
    height: 500px;
    width: 375px;
    
    margin: 75px;
    margin-left: 20px;
    position: relative; 
   
    
}

.imgResize {
    width: 100%;
    height: 100%;
    position: relative; 
    
  
}

/* makes the image move */
.glide__slide:hover {
    -webkit-animation: floatBubble 1s forwards;
    -webkit-animation-direction: alternate-reverse;

    
  }

/* image animation needs position relative*/
@-webkit-keyframes floatBubble{ 
    from{
           bottom:75px;
           -webkit-animation-timing-function: ease-in;
      }

      to {
         bottom: 0;
         -webkit-animation-timing-function: ease-out;
      }
}


.moneyTag {
    width: 110px;
    height: 43px;
    background-color: #3984f3;
    position: absolute;
    bottom: 430px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    
}

.vacationName {
    position: absolute;
    bottom: 32px;
    left: 25px;
    font-size: 23px;
   color: #ffffff;

}














/* .glide__arrow {
    color: white;
    border-color: #3984f3;
    background-color: #3984f3;
    
}  

.glide__arrow:hover {
    color: #3984f3;
    background-color: #fff;
} */



  
